<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="about-section">
    <section class="section about" id="about">
        <div class="container">

            <div class="section-title-container">
                <h2 class="section-title">About Me</h2>
                <p class="section-subtitle">Get to know more about my background, skills,and what drives me!!</p>
            </div>
            <div class="about-container">
                <div class="about-content">
                    <div class="about-tagline">My Background</div>
                    <h3 class="about-heading">Driven by curiosity, I enjoy turning ideas into playable experiences.</h3>
                    <p class="about-text"> I’m Pratyush Gaur, a game developer who believes in learning by building. For me, development isn’t just about writing code it’s about creating interactive experiences that feel real, engaging, and meaningful.</p>
                    <p class="about-text"> I work with Unity and Unreal Engine 5 to design gameplay systems, experiment with mechanics, and bring concepts to life. Alongside this, I use Blender to create and integrate props, Sometimes this is part of a project pipeline, and sometimes it’s simply for fun, bringing ideas and imagination into 3D space.</p>
                    <p class ="about-text">Through college projects, solo development, and hands-on experimentation, I’ve learned the importance of ownership, clarity, and teamwork in building polished games. value thoughtful design, long-term thinking, and creating systems that scale as projects grow</p>
                    <p class="about-text">I enjoy exploring how games work beneath the surface whether it’s gameplay logic, performance optimization, or system design. I focus on writing clean, maintainable code and improving through iteration, playtesting, and constant learning rather than quick fixes.</p>
                    <p class="about-text">Beyond development, I value balance and personal growth. Gym keeps me disciplined, music helps me focus, and walking and running give me space to think and reset. I enjoy playing games to study mechanics from a player’s perspective, and cooking as a creative outlet that teaches patience and experimentation. My goal is to keep growing as a game developer, contribute to impactful projects, and build experiences that players genuinely enjoy.</p>
                    <!--Skills-->
                    <div class="skills-container">

                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fab fa-unity"></i>
                            </div>
                            <div class="skill-name">UNITY</div>
                        </div>

                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fas fa-code"></i>
                            </div>
                            <div class="skill-name">HUD</div>
                        </div>

                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fas fa-code"></i>
                            </div>
                            <div class="skill-name">Character Controllers</div>
                        </div>

                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fas fa-code"></i>
                            </div>
                            <div class="skill-name">Unreal Engine 5</div>
                        </div>

                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fas fa-code"></i>
                            </div>
                            <div class="skill-name"> GAS</div>
                        </div>

                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fa-solid fa-code"></i>
                            </div>
                            <div class="skill-name">Blueprints</div>
                        </div>

                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fab fa-artstation"></i>
                            </div>
                            <div class="skill-name">Blender 3d</div>
                        </div>

                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fa-solid fa-code-branch"></i>
                            </div>
                            <div class="skill-name">GIT</div>
                        </div>

                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fa-solid fa-vial"></i>
                            </div>
                            <div class="skill-name">Props</div>
                        </div>
                    </div>
                </div>

                <div class="about-visual">
                    <div class="about-image-container">
                        <div class="about-image-bg"></div>
                        <img src="/images/Mine-SetUp.png" alt="about" class="about-image">
                    </div>
                    <div class="about-decorations">
                        <div class="about-decorations"></div>
                        <div class="about-decorations"></div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </section>
</th:block>
</html>