<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="experience-section">
    <section class="section experience" id="experience">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">Experience</h2>
                <p class="section-subtitle">
                    My professional journey and educational background
                </p>
            </div>
            <div class="timeline">

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-person-chalkboard"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">August 2021 - August 2025 </div>
                        <h3 class="timeline-title">B.E. in Computer Science and Engineering with a Specialization in Graphics and Gaming</h3>
                        <h4 class="timeline-subtitle">Chandigarh University</h4>
                        <p class="timeline-description">
                            Completed a four-year degree focusing on Game Development, interactive media, animation,
                            augmented reality (AR), and virtual reality (VR)
                            participated in Game Jams and coding contests.
                            Graduated with a solid foundation in Game development
                        </p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-code"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">May 2024- July 2024</div>
                        <h3 class="timeline-title">Unity Developer Intern</h3>
                        <h4 class="timeline-subtitle">Appenius Private Limited</h4>
                        <p class="timeline-description">
                            Built a 2048-style game from scratch in Unity for web and mobile platforms,
                            Implemented UI, animations, score saving, and core gameplay systems
                            Improved a client project by fixing collisions, enhancing UI, integrating sound, and adding a boost mechanic, and creating character controller
                        </p>
                    </div>
                </div>


                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-code"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">May 2025- Present</div>
                        <h3 class="timeline-title">3D Prop Artist Intern</h3>
                        <h4 class="timeline-subtitle"> Dragon Heaven Studio </h4>
                        <p class="timeline-description">
                            Created game-ready props in Blender for Unreal Engine, including furniture, weapons, and environmental assets
                            • Optimized high-poly models into performance-friendly low-poly meshes with clean topology and proper UVs
                            • Iterated on assets based on feedback to improve shape, detail, and in-game readability
                            • Finalized and tested assets for real-time use in Unreal Engine
                        </p>
                    </div>
                </div>


                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-code"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">November 2025 - Present </div>
                        <h3 class="timeline-title">Quality Assurance Intern</h3>
                        <h4 class="timeline-subtitle"> Not How Studio </h4>
                        <p class="timeline-description">
                            Conducted manual playtesting on PC builds to identify gameplay, UI, and logic issues
                            Documented bugs using structured reports and Jira-style workflows
                            Participated in design discussions and gained exposure to studio production pipeline
                        </p>
                    </div>
                </div>

                <!--                <div class="timeline-item">-->
                <!--                    <div class="timeline-icon">-->
                <!--                        <i class="fa-solid fa-clapperboard"></i>-->
                <!--                    </div>-->
                <!--                    <div class="timeline-content">-->
                <!--                        <div class="timeline-date">August 2017 - Present</div>-->
                <!--                        <h3 class="timeline-title">Content Creator</h3>-->
                <!--                        <h4 class="timeline-subtitle">@engineertalkswithbushan</h4>-->
                <!--                        <p class="timeline-description">-->
                <!--                            Created educational content on software development, Java, Spring Boot, and career guidance through YouTube and other platforms. Built a community of thousands of learners by simplifying complex tech concepts and sharing real-world project tutorials.-->
                <!--                        </p>-->
                <!--                    </div>-->
                <!--                </div>-->

                <!--                <div class="timeline-item">-->
                <!--                    <div class="timeline-icon">-->
                <!--                        <i class="fa-solid fa-chalkboard-user"></i>-->
                <!--                    </div>-->
                <!--                    <div class="timeline-content">-->
                <!--                        <div class="timeline-date">January 2019 - Present</div>-->
                <!--                        <h3 class="timeline-title">Teacher</h3>-->
                <!--                        <h4 class="timeline-subtitle">Udemy</h4>-->
                <!--                        <p class="timeline-description">-->
                <!--                            Designed and delivered high-quality online courses on Udemy, focusing on Java, Spring Boot, and full-stack development. Helped thousands of students globally enhance their coding skills through practical projects and clear, beginner-friendly instruction.-->
                <!--                        </p>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>
    </section>
</th:block>
</html>