<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="hero-section">

    <section class="hero" id="home">
        <div class ="hero-background"></div>

        <div class="container hero-container">
            <div class="hero-content">
                <div class="hero-greeting">Hi there ,I'm </div>
                <h1 class="hero-title"> <span class="gradient-text"> Pratyush Gaur </span> </h1>
                <h2 class="hero-subtitle">Building worlds, Breaking bosses, Learning by respawn</h2>
                <p class="hero-description">Passionate about building games, improving daily, and growing through hands-on development, experimentation, and constant learning. </p>
                <div class="hero-buttons">
                    <a href="#projects" class="btn btn-primary">
                        View My Work <i class="fas fa-arrow-right"></i>
                    </a>
                    <a href="#contact" class="btn btn-outline">
                        Get in Touch
                    </a>
                </div>
                <div  class="social-links">

                    <a href="tel:+918619033438" class="social-link">
                        <i class="fas fa-phone-alt"></i>
                    </a>

                    <a href="mailto:Gaurpratyush95@gmail.com" class="social-link">
                        <i class="fas fa-envelope"></i>
                    </a>

                    <a href="https://www.linkedin.com/in/pratyush-g-62b166219/" target="_blank" class="social-link">
                        <i class="fab fa-linkedin-in"></i>
                    </a>

                    <a href="https://github.com/Gaur-95" target="_blank" class="social-link">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://www.artstation.com/gaur-95" target="_blank" class="social-link">
                        <i class="fab fa-artstation"></i>
                    </a>
                </div>
            </div>

            <div class="hero-visual">
                <div class="hero-visual-inner">
                    <div class=" hero-visual-frame">
                        <img src="/images/Mine-SetUp.png" alt="profile image" style="width:90%;height:90%;object-fit:cover;border-radius:15px;">
                    </div>
                    <div class="hero-visual-frame"></div>
                    <div class="hero-visual-frame"></div>
                </div>

                <div class="hero-stats stats-1">
                    <div class="hero-stats-icon">
                        <i class="fas fa-code"></i>
                    </div>

                    <div class="hero-stats-text">
                        <div class="hero-stats-lable">Builder</div>
                        <div class="hero-stats-value">Game Developer</div>
                    </div>
                </div>


                <div class="hero-stats stats-2">
                    <div class="hero-stats-icon">
                        <i class="fas fa-rocket "></i>
                    </div>
                    <div class="hero-stats-text">
                        <div class="hero-stats-lable">Always Learning</div>
                        <div class="hero-stats-value">Exploring New Tech</div>
                    </div>
                </div>
                <div class="hero-stats stats-3">
                    <div class="hero-stats-icon">
                        <i class="fas fa-lightbulb"></i>
                    </div>
                    <div class="hero-stats-text">
                        <div class="hero-stats-lable">Time Manager</div>
                        <div class="hero-stats-value">Multitasker</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-indicator">
            <span>Scroll Down</span>
            <div class="scroll-indicator-line">
                <div class="scroll-indicator-dot"></div>
            </div>

        </div>

    </section>



</th:block>
</html>