<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="projects-section">
    <section class="section projects" id="projects">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">My Work </h2>
                <p class="section-subtitle">
                    Explore some of my recent projects, blogs, and more.
                </p>
            </div>

            <div class="projects-container">

                <div class="project-card">
                    <div class="project-image">
                        <img th:src="@{/images/GAS.png}" alt="project">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Unreal Engine 5</span>

                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Ongoing</h3>
                        <p class="project-description">
                            creating Player Abilities using GAS in Unreal Engine 5 in C++
                        </p>
                        <div class="project-links">


                            <a href="https://drive.google.com/file/d/15x2b7I2AImZuHKxpjQzZZgwoLH0KrRT1/view" class="project-link" target="_blank">
                                Video  <i class="fas fa-arrow-right"></i>
                                </a>


                        </div>
                    </div>

                </div>


                <div class="project-card">
                    <div class="project-image">
                        <img th:src="@{/images/Drone game.png}" alt="ShareVault File Sharing Platform">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Unreal Engine 5</span>


                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Drone Apocalypse</h3>
                        <p class="project-description">
                            Drone Apocalypse is a fast-paced first-person shooter where players battle waves of flying drones in a dark,
                            dystopian city. The game features a dynamic combat system, intelligent drone AI,
                            and timed gameplay mechanics where every kill extends the countdown timer.
                            Developed entirely in Unreal Engine 5 using Blueprints,

                        </p>

                        <div class="project-links">
                            <a href="https://github.com/Gaur-95/drone-apocalypse-FPS-Shooter-game-" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> Github
                            </a>

                            </a>
                            <a href="https://drive.google.com/file/d/14uT1cBzVp7gKdbE_FKM4QNiIuWwiJa_I/view" class="project-link" target="_blank">
                                Video <i class="fas fa-arrow-right"></i>
                            </a>

                        </div>
                    </div>
                </div>




                <div class="project-card">
                    <div class="project-image">
                        <img th:src="@{/images/Ball balance game .jpeg}" alt="project">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Unity 3D</span>

                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Ball Balance Nature </h3>
                        <p class="project-description">
                            Worked on porting a mobile game to PC, implementing PC-specific controls and a modular character skin system
                            Collaborated closely with the team to refine gameplay, improve usability, and polish the overall player experience for PC release.
                        </p>

                        <div class="project-links">


                            <a href="https://mycode-technologies.itch.io/balance-ball-nature/devlog/1341404/balance-ball-nature-launch-devlog" class="project-link" target="_blank">
                                Itch.io  <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                </div>





                <div class="project-card">
                    <div class="project-image">
                        <img th:src="@{/images/neon Racer.png}" alt="project">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Unity 3D</span>

                        </div>
                    </div>


                    <div class="project-content">
                        <h3 class="project-title">Neon Racer</h3>
                        <p class="project-description">
                            Endless Neon Runner is a neon-themed,
                            color-based endless running game built in under 20 hours as a personal rapid-prototyping challenge.
                            The focus of this project was to implement procedural tile generation,
                            color-logic scoring, and randomized obstacle spawning within a strict time limit.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/Gaur-95/Neon-Runner" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> Github
                            </a>
                            <a href="https://drive.google.com/file/d/1v4NiP22K6_CARjyCguzbUZ4AjgFeqkg3/view" class="project-link" target="_blank">
                                Video  <i class="fas fa-arrow-right"></i>
                            </a>

                        </div>
                    </div>

                </div>




                <div class="project-card">
                    <div class="project-image">
                        <img th:src="@{/images/2048.png}" alt="project">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">UNITY 2D</span>

                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">2048 Game</h3>
                        <p class="project-description">
                            2048 is a classic number-merging puzzle game built as a clean, structured game development project.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/Gaur-95/2D---2048-" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> Github
                            </a>
                            </a>
                            <a href="https://drive.google.com/file/d/1SsmM5YP8XUk0JGZXzL_j5sGXMJidoUBR/view" class="project-link" target="_blank">
                                 Video <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                </div>











                <div class="project-card">
                    <div class="project-image">
                        <img th:src="@{/images/Slot machine.png}" alt="project">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Unity 2D</span>

                        </div>
                    </div>


                    <div class="project-content">
                        <h3 class="project-title">Slot Machine</h3>
                        <p class="project-description">
                            Players can enter their name, set a bet amount, spin reels, win/lose coins, and cash out at any time.
                            The game includes UI screens, win/lose logic, a cash-out flow, and an integrated audio system.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/Gaur-95/Slot-Machine" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> Github
                            </a>
                            <a href="https://drive.google.com/file/d/15x2b7I2AImZuHKxpjQzZZgwoLH0KrRT1/view" class="project-link" target="_blank">
                                Video  <i class="fas fa-arrow-right"></i>
                            </a>

                        </div>
                    </div>

                </div>


                <!--                </div>-->

                <!--                <div class="project-card">-->
                <!--                    <div class="project-image">-->
                <!--                        <img th:src="@{/images/thumbnail1.jpg}" alt="project">-->
                <!--                        <div class="project-overlay"></div>-->
                <!--                        <div class="project-tags">-->
                <!--                            <span class="project-tag">Spring Boot</span>-->
                <!--                            <span class="project-tag">Spring Security</span>-->
                <!--                            <span class="project-tag">Data JPA</span>-->
                <!--                            <span class="project-tag">MySQL</span>-->
                <!--                            <span class="project-tag">AWS</span>-->
                <!--                            <span class="project-tag">React</span>-->
                <!--                            <span class="project-tag">Postman</span>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                    <div class="project-content">-->
                <!--                        <h3 class="project-title">Build REST APIs with Spring and Spring Boot</h3>-->
                <!--                        <p class="project-description">-->
                <!--                            This is a project that I have worked on.-->
                <!--                        </p>-->
                <!--                        <div class="project-links">-->
                <!--                            <a href="https://github.com/Kota-Kun22/SpringKart_Frontend/" class="project-link" target="_blank">-->
                <!--                                <i class="fab fa-github"></i> View Code-->
                <!--                            </a>-->
                <!--                            <a href="https://github.com/Kota-Kun22" class="project-link" target="_blank">-->
                <!--                                View Code  <i class="fas fa-arrow-right"></i>-->
                <!--                            </a>-->
                <!--                        </div>-->
                <!--                    </div>-->

                <!--                </div>-->

                <!--                <div class="project-card">-->
                <!--                    <div class="project-image">-->
                <!--                        <img th:src="@{/images/thumbnail1.jpg}" alt="project">-->
                <!--                        <div class="project-overlay"></div>-->
                <!--                        <div class="project-tags">-->
                <!--                            <span class="project-tag">Spring Boot</span>-->
                <!--                            <span class="project-tag">Spring Security</span>-->
                <!--                            <span class="project-tag">Data JPA</span>-->
                <!--                            <span class="project-tag">MySQL</span>-->
                <!--                            <span class="project-tag">AWS</span>-->
                <!--                            <span class="project-tag">React</span>-->
                <!--                            <span class="project-tag">Postman</span>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                    <div class="project-content">-->
                <!--                        <h3 class="project-title">Build REST APIs with Spring and Spring Boot</h3>-->
                <!--                        <p class="project-description">-->
                <!--                            This is a project that I have worked on.-->
                <!--                        </p>-->
                <!--                        <div class="project-links">-->
                <!--                            <a href="https://github.com/Kota-Kun22/SpringKart_Frontend/" class="project-link" target="_blank">-->
                <!--                                <i class="fab fa-github"></i> View Code-->
                <!--                            </a>-->
                <!--                            <a href="https://github.com/Kota-Kun22" class="project-link" target="_blank">-->
                <!--                                View Code  <i class="fas fa-arrow-right"></i>-->
                <!--                            </a>-->
                <!--                        </div>-->
                <!--                    </div>-->

                <!--                </div>-->


            </div>
        </div>
    </section>
</th:block>
</html>